<!DOCTYPE html>
<html>
<head>
  <title>PMTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "All Projects", projects_path %> |
  <%= link_to "New Project", new_project_path %> |
  <%= link_to "All Tasks", tasks_path %> |
  <%= link_to "New Task", new_task_path %> |
  <% if user_signed_in? %>
  <span>Hello <%= current_user.full_name %></span>,
  <%= link_to "Logout", sessions_path, method: :delete,
        data: {confirm: "Are you sure you want to log out?"} %>
  <% else %>
    <%= link_to "Login", new_session_path %> |
    <%= link_to "Sign Up", new_user_path %> |
    <% end %>
    <hr>


<%= yield %>

</body>
</html>
